node_modules
img
.idea
.DS_Store
yarn.lock
npm-debug.log
*.iml
jaepil/**/img/
jaepil/**/*.html
jaepil/**/*.json
wonjun/**/img/
wonjun/**/*.json
wonjun/**/testdb/
wonjun/**/leveldb-jPUB/
wonjun/**/*.pdf
wonjun/**/*.xlsx
**/*.iml
**/*.txt
kwonsung/**/user.json
config.json
myungki/**/mecab-0.996-ko-0.9.2/
myungki/**/mecab-ko-dic-2.0.1-20150920/
myungki/**/**/package.json
